.jobs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.jobs-container-link {
  color: #f7f7f7;
  margin: 0.75rem;
  text-decoration: none;
}

.job-container-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
