.employer-form {
  display: flex;
  flex-direction: column; }

.employer-input,
.add-job-button {
  margin-top: 0.75rem; }

.add-job-button {
  font-size: 12.5px;
  color: #6c7686;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.29);
  letter-spacing: 2px;
  display: inline-block;
  background: #c0c0c0;
  font-weight: 900;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  width: 190px;
  height: 50px;
  -webkit-font-smoothing: antialiased;
  background: -webkit-linear-gradient(269deg, #f4f4f4 0%, #c0c0c0 100%);
  background: linear-gradient(-179deg, #f4f4f4 0%, #c0c0c0 100%);
  box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 0.22), 0 10px 13px -4px rgba(0, 0, 0, 0.34), inset 0 30px 30px 0 rgba(255, 255, 255, 0.35), inset 0 -30px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 140px;
  align-self: center; }

.add-job-button:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22), 0 10px 13px 0px rgba(0, 0, 0, 0.34), inset 0 18px 18px 0 rgba(255, 255, 255, 0.35), inset 0 -18px 18px 0 rgba(0, 0, 0, 0.1);
  transform: translate(0px, -4px);
  backface-visibility: hidden;
  color: #7a8393; }

.add-job-button:active {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22), 0 10px 13px 0px rgba(0, 0, 0, 0.34), inset 0 3px 3px 0 rgba(255, 255, 255, 0.35), inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1);
  backface-visibility: hidden; }

input {
  border: none;
  border-radius: 1px;
  height: 2rem;
  background: #f9f9f9;
  padding-left: .5rem; }

.description {
  height: 75px;
  padding-left: .5rem; }

select {
  height: 2rem;
  width: 16rem;
  cursor: pointer; }
